DomCourt-ear/${project.basedir}/*
DomCourt-ear/target/*
DomCourt-ear/nb-configuration.xml

DomCourt-ejb/${project.basedir}/*
DomCourt-ejb/target/*
DomCourt-ejb/nb-configuration.xml

DomCourt-web/${project.basedir}/*
DomCourt-web/target/*
DomCourt-web/nb-configuration.xml

.mwb.bak
